:root {
    --radius: 10px;
    --buy-btn: #00e600;
    --brand-color: #ffb701;
    --white-v2: hsl(280, 18%, 97%);
    --black-v2: #1f1f1f;
    --grey-v2: #969696;
  }


  .checked-items{

  }

  .checkout-slipper{
    width: 15em;
    height: 15em;
  }