:root {
    --radius: 10px;
    --buy-btn: #00e600;
    --brand-color: #ffb701;
    --white-v2: hsl(280, 18%, 97%);
    --black-v2: #1f1f1f;
    --grey-v2: #969696;
  }


  .checked-items{
    width: min-content;
  }

  .checkout-slipper{
    width: 15em!important;
    height: 15em!important;
  }

  .checkout-section{
    border-radius: 10px;
    background-color: var(--white-v2);
    /* margin: 0vh 10vh 10vh 10vh; */
    text-transform: capitalize;
    display: inline-block;
    width: min-content;
    padding: 3em;
    align-items: center;
    margin: 5em 0em 5em 20em;
  }

.checkout-wrapper{
    border-radius: 10px;
    background-color: var(--white-v2);
    margin: 10vh 10vh 10vh 13vw;
    text-transform: capitalize;
    display: block;
    padding: 5em;
    width: fit-content;
    align-items: center;
}

  .checkout-input {
    width: -webkit-fill-available;
    display: block;
    transition: 0.2s;
    background: white;
    color: inherit;
    border: none;
    border-radius: 10px;
    cursor: text;
    color: black;
    margin: 20px 0px;
    padding: 10px 0px 10px 10px;
    font: inherit;
    cursor: pointer;
  }


  .checkout-item{
    align-items: center;
      text-align:left;
      border-radius: var(--radius);
      display: inline-flex;
      height: -webkit-fill-available !important;
      background-color: #fff;
      margin: 2em;
  }

  .order-btn{
    height: 60px;
    width: max-content;
    padding: 10px 15px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: var(--brand-color);
    border: none;
    border-radius: 30px;

  }

  .receipt-header{
    height: min-content;
    text-align: center;
  }

  .receipt-overlay{
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(0, 0, 0, 50%);
  }
  .receipt-modal {
    border-radius: var(--radius);
    z-index: 100;
    position: absolute;
    background-color: #fff;
    width: auto;
    padding: 3em;
    display: flex;
    left: 39%;
    top: 15%;
    opacity: 1;
    display: block;
}

.dashboard-btn{
    margin-top: 30px;
    display: block;
    font-weight: 600;
    font-size: 1.5em;
    background-color: var(--brand-color);
    padding: 20px;
    width: -webkit-fill-available;
    text-align: center;
    color: black;
    border-radius: var(--radius);
}

.t-1{
    font-weight: 700;
}

.order-footer {
    padding-top: 12px;
    text-align: center;
}

.item-tot, .order-title{
    font-weight: 700;
}

.item-info.cart-info{
  padding-left: 5vw;
}
.total-amt{
  font-weight: bold;
  margin: 1.1em 1.8em  1.1em  0.3em ;
  font-size: 16pt;
}

